h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 1em;
}

.text--center {
	text-align: center;
}


/****** MENU *****/

.top-bar {
	background: $transparent;
}

.top-bar-section ul li {
	@extend .top-bar;
	a {
		background: $transparent !important;
	}
	a:hover {
		background: $white !important;
		color: $gnb-blue !important;
	}
}


/***** HEADER *****/

header {
	background: $gnb-blue;
}

